recursive-include  *.py

include industrial-robot.svg
include techpriest.jpg
include zencad_logo.png

include zencad/examples/Integration/mechanicus/image.png
include zencad/examples/fonts/mandarinc.ttf
include zencad/examples/fonts/testfont.ttf