.header {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

.header_ref {
	color: white;
}

.spoiler {
	color: #444444;
	background: lightgray;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.spoiler p {
	padding: 1em;
}

.nav {
	float: left;
	background-color: white;
	max-width: 240px;
	margin: 0;
	padding: 1em;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 13px;
}

.nav ul 
{
	padding-left: 2em;
}

table {
	border-spacing: 7px 11px; 
}

th {
	text-align: center;	
}

tr {
	text-align: center;	
}

pre 
{
	padding-left: 2em;
	background: lightgray;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*.nav .ul {
	list-style-type: none;
	padding: 0;
}
	 
.nav .ul .a {
	text-decoration: none;
}*/

.article {
	padding: 1em;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	text-align: justify;
}

.article .t0 p {
	text-align: center;
	font-style: oblique;
}

.article h0 {
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}

.article h1 {
	font-size: 40px;
	text-align: left;
}

.article h2 {
	font-size: 30px;
	text-align: left;
}

/* Buttons
*/
.btn {
	display: inline-block;
	background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10,	10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
	padding: 8px 18px;
	border-radius: 50px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); 
}

.btn:hover {
	background: -webkit-linear-gradient(top, rgba(0, 0, 100, 0.8), rgba(0, 0, 60, 0.8) 50%, rgba(0,	0, 40, 0.8) 50%, rgba(0, 0, 0, 0.9)); 
}

.btn .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 1px 8px 0 0;
	float: left; 
}

.btn-github .icon {
	opacity: 0.6;
	background: url("./images/blacktocat.png") 0 0 no-repeat; 
}

.codehilite 	   { background: #fff; font-size: 12px; }
.codehilite .c     { color: #998; font-style: italic } /* Comment */
.codehilite .err   { color: #a61717; background-color: #e3d2d2 } /* Error */
.codehilite .k     { font-weight: bold } /* Keyword */
.codehilite .o     { font-weight: bold } /* Operator */
.codehilite .cm    { color: #998; font-style: italic } /* Comment.Multiline */
.codehilite .cp    { color: #999; font-weight: bold } /* Comment.Preproc */
.codehilite .c1    { color: #998; font-style: italic } /* Comment.Single */
.codehilite .cs    { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
.codehilite .gd    { color: #000; background-color: #fdd } /* Generic.Deleted */
.codehilite .gd .x { color: #000; background-color: #faa } /* Generic.Deleted.Specific */
.codehilite .ge    { font-style: italic } /* Generic.Emph */
.codehilite .gr    { color: #a00 } /* Generic.Error */
.codehilite .gh    { color: #999 } /* Generic.Heading */
.codehilite .gi    { color: #000; background-color: #dfd } /* Generic.Inserted */
.codehilite .gi .x { color: #000; background-color: #afa } /* Generic.Inserted.Specific */
.codehilite .go    { color: #888 } /* Generic.Output */
.codehilite .gp    { color: #555 } /* Generic.Prompt */
.codehilite .gs    { font-weight: bold } /* Generic.Strong */
.codehilite .gu    { color: #aaa } /* Generic.Subheading */
.codehilite .gt    { color: #a00 } /* Generic.Traceback */
.codehilite .kc    { font-weight: bold; color: #704C93; } /* Keyword.Constant */
.codehilite .kd    { font-weight: bold } /* Keyword.Declaration */
.codehilite .kp    { font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr    { font-weight: bold } /* Keyword.Reserved */
.codehilite .kt    { color: #458; font-weight: bold } /* Keyword.Type */
.codehilite .m     { color: #099 } /* Literal.Number */
.codehilite .s     { color: #d14 } /* Literal.String */
.codehilite .na    { color: #008080 } /* Name.Attribute */
.codehilite .nb    { color: #0086B3 } /* Name.Builtin */
.codehilite .nc    { color: #458; font-weight: bold } /* Name.Class */
.codehilite .no    { color: #008080 } /* Name.Constant */
.codehilite .ni    { color: #800080 } /* Name.Entity */
.codehilite .ne    { color: #900; font-weight: bold } /* Name.Exception */
.codehilite .nf    { color: #900; font-weight: bold } /* Name.Function */
.codehilite .nn    { color: #555 } /* Name.Namespace */
.codehilite .nt    { color: #000080 } /* Name.Tag */
.codehilite .nv    { color: #008080 } /* Name.Variable */
.codehilite .ow    { font-weight: bold } /* Operator.Word */
.codehilite .w     { color: #bbb } /* Text.Whitespace */
.codehilite .mf    { color: #099 } /* Literal.Number.Float */
.codehilite .mh    { color: #099 } /* Literal.Number.Hex */
.codehilite .mi    { color: #099 } /* Literal.Number.Integer */
.codehilite .mo    { color: #099 } /* Literal.Number.Oct */
.codehilite .sb    { color: #d14 } /* Literal.String.Backtick */
.codehilite .sc    { color: #d14 } /* Literal.String.Char */
.codehilite .sd    { color: #d14 } /* Literal.String.Doc */
.codehilite .s2    { color: #d14 } /* Literal.String.Double */
.codehilite .se    { color: #d14 } /* Literal.String.Escape */
.codehilite .sh    { color: #d14 } /* Literal.String.Heredoc */
.codehilite .si    { color: #d14 } /* Literal.String.Interpol */
.codehilite .sx    { color: #d14 } /* Literal.String.Other */
.codehilite .sr    { color: #009926 } /* Literal.String.Regex */
.codehilite .s1    { color: #d14 } /* Literal.String.Single */
.codehilite .ss    { color: #990073 } /* Literal.String.Symbol */
.codehilite .bp    { color: #ac80ff } /* Name.Builtin.Pseudo */
.codehilite .vc    { color: #008080 } /* Name.Variable.Class */
.codehilite .vg    { color: #008080 } /* Name.Variable.Global */
.codehilite .vi    { color: #008080 } /* Name.Variable.Instance */
.codehilite .il    { color: #099 } /* Literal.Number.Integer.Long */

