altgraph==0.17.5
cadquery-ocp-novtk==7.9.3.1.1
cadquery-ocp-proxy==7.9.3.1.1
evalcache==2.0.0a1
imageio==2.37.4
lazy-loader==0.5
networkx==3.4.2
numpy==2.2.6
packaging==26.3
pillow==12.3.0
pyinstaller==6.22.0
pyinstaller-hooks-contrib==2026.7
PyOpenGL==3.1.10
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5-sip==12.19.0
scikit-image==0.25.2
scipy==1.15.3
svgwrite==1.4.3
tifffile==2025.5.10
trimesh==5.1.0
